header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: #a9cef0;
    height: 10vh;
    --color1:#58C2FF;
    --color2:#4B80C5;
    --color3:#004AAD;
}

.brand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-decoration: none;
}

.brand_image {
    width: 70px;
    height: 70px;
}

.brand_title {
    margin: 0px;
    color: black;
    font-size: 20px;
}

.header_navbar_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.header_navbar_list li {
    list-style-type: none;
}

.navbar_item {
    padding: 1em 0em 1em 0em;
}

.navbar_item:hover  {
    border: 10px;
    border-radius: 10px;
    border-color: rgb(216, 210, 210);
    background-color: rgb(185, 213, 241);
}

.item {
    text-decoration: none;
    color: var(--color5);
    padding: 0.5em;
}

.sub_item {
    display: none;
    padding: 0.5em;
}
.header_sub_item:hover .sub_item{
    display: block;
}

.mobile_offcanvas {
    display: block;
}

.informationGuide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mobile_offcanvas_line {
    margin: 5px;
    width: 30px;
    height: 3px;
    background-color: black;
}

.header_navbar {
    display: none;
}

@media screen and (min-width: 992px) {

    .header_navbar {
        display: block;
    }
    .header_navbar_list {
        flex-direction: row;
    }
    .navbar_item {
        padding: 0em 1em;
    }
    .mobile_offcanvas {
        display: none;
    }
    .sub_item {
        position: absolute;
    }
}

